.app{
    text-align: center;
}

.wide-layout {
    width: 100%; /* Adjust width for wider viewport */
    margin: 0 auto; /* Center the content */
  }
  
  .narrow-layout {
    width: 100%; /* Full width for narrower viewport */
  }

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: rgba($color: #de9ae0, $alpha: 1.0);
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}
section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
}

.background-container {
    position: relative;
    overflow: hidden;
  
    .background-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; // Send the video behind the content
    }
  }

@mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
}

@mixin tablet {
@media (max-width: 1024px) {
    @content;
}
}

@mixin desktop {
@media (max-width: 1366px) {
    @content;
}
}